[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"

[dev-packages]

[scripts]
serve = "python ./manage.py runserver"
pyversion = "python --version"

[requires]
python_version = "3.7"
