[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[scripts]
serve = "python ./manage.py runserver"
set_admin = "python ./manage.py set_admin"
set_static = "python ./manage.py collectstatic"
pyversion = "python --version"

[requires]
python_version = "3.7"
